force-app/main/default/flows/Create_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Post_to_typicode_com</name>
        <label>Submit Post to typicode.com</label>
        <locationX>695</locationX>
        <locationY>558</locationY>
        <actionName>PostManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bodyText</name>
            <value>
                <elementReference>post</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Post_Content</name>
        <label>Assign Post Content</label>
        <locationX>695</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>post</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{&quot;title&quot;:&quot;{!Title}&quot;,&quot;body&quot;:&quot;{!Body}&quot;,&quot;userId&quot;:15}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Post_to_typicode_com</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Create_A_Post</name>
        <label>Create A Post</label>
        <locationX>695</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Post_Content</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Body</name>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Response</name>
        <label>Display_Response</label>
        <locationX>695</locationX>
        <locationY>759</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>response_textbox</name>
            <fieldText>&lt;p&gt;{!response}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>569</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_A_Post</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>post</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postContent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
